# Table of Contents
1. Import Libraries and Data
2. Data Cleaning
3. Merging Data

## 1. Importing Libraries and Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#define path
path = r'C:\Users\legra\Desktop\08-2022 Airline Delays Analysis'

In [3]:
#import data
df = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'wrangled_v3.csv'))

## 2. Data Cleaning

In [4]:
df.head()

,Unnamed: 0,year,month,carrier,carrier_name,airport name,code,city,state_code,arriving_flight_count,...,late_aircraft_count,arrival_cancelled_count,arrival_diverted_count,arrival_delay_minutes,carrier_delay_minutes,weather_delay_minutes,nas_delay_minutes,security_delay_minutes,late_aircraft_delay_minutes,state
0,0,2021,12,9E,Endeavor Air Inc.,Lehigh Valley International,ABE,Allentown/Bethlehem/Easton,PA,127,...,2.95,0,0,264,119,0,68,0,77,Pennsylvania
1,1,2021,12,9E,Endeavor Air Inc.,Southwest Georgia Regional,ABY,Albany,GA,73,...,1.87,0,0,342,125,0,142,0,75,Georgia
2,2,2021,12,9E,Endeavor Air Inc.,Alexandria International,AEX,Alexandria,LA,62,...,1.15,0,0,439,156,0,103,0,180,Louisiana
3,3,2021,12,9E,Endeavor Air Inc.,Augusta Regional at Bush Field,AGS,Augusta,GA,166,...,2.74,0,1,1266,291,693,167,0,115,Georgia
4,4,2021,12,9E,Endeavor Air Inc.,Albany International,ALB,Albany,NY,52,...,0.82,0,0,497,278,180,21,0,18,New York

In [5]:
df =df.drop(columns='Unnamed: 0')

In [6]:
df.head()

,year,month,carrier,carrier_name,airport name,code,city,state_code,arriving_flight_count,arrival_delayed_15_minutes_more,...,late_aircraft_count,arrival_cancelled_count,arrival_diverted_count,arrival_delay_minutes,carrier_delay_minutes,weather_delay_minutes,nas_delay_minutes,security_delay_minutes,late_aircraft_delay_minutes,state
0,2021,12,9E,Endeavor Air Inc.,Lehigh Valley International,ABE,Allentown/Bethlehem/Easton,PA,127,9.0,...,2.95,0,0,264,119,0,68,0,77,Pennsylvania
1,2021,12,9E,Endeavor Air Inc.,Southwest Georgia Regional,ABY,Albany,GA,73,11.0,...,1.87,0,0,342,125,0,142,0,75,Georgia
2,2021,12,9E,Endeavor Air Inc.,Alexandria International,AEX,Alexandria,LA,62,8.0,...,1.15,0,0,439,156,0,103,0,180,Louisiana
3,2021,12,9E,Endeavor Air Inc.,Augusta Regional at Bush Field,AGS,Augusta,GA,166,18.0,...,2.74,0,1,1266,291,693,167,0,115,Georgia
4,2021,12,9E,Endeavor Air Inc.,Albany International,ALB,Albany,NY,52,6.0,...,0.82,0,0,497,278,180,21,0,18,New York

In [7]:
df_year = df.groupby('year').sum()

In [8]:
df_year['percent_carrier_delay_minutes'] = df_year['carrier_delay_minutes'] / df_year['arrival_delay_minutes']*100
df_year['percent_weather_delay_minutes'] =df_year['weather_delay_minutes'] / df_year['arrival_delay_minutes']*100
df_year['percent_nas_delay_minutes'] = df_year['nas_delay_minutes'] / df_year['arrival_delay_minutes']*100
df_year['percent_security_delay_minutes'] = df_year['security_delay_minutes'] / df_year['arrival_delay_minutes']*100
df_year['percent_late_aircraft_delay_minutes'] = df_year['late_aircraft_delay_minutes'] / df_year['arrival_delay_minutes']*100

In [9]:
df_year.head()

,month,arriving_flight_count,arrival_delayed_15_minutes_more,carrier_delay_count,weather_delay_count,nas_delay_count,security_delay_count,late_aircraft_count,arrival_cancelled_count,arrival_diverted_count,...,carrier_delay_minutes,weather_delay_minutes,nas_delay_minutes,security_delay_minutes,late_aircraft_delay_minutes,percent_carrier_delay_minutes,percent_weather_delay_minutes,percent_nas_delay_minutes,percent_security_delay_minutes,percent_late_aircraft_delay_minutes
year,,,,,,,,,,,,,,,,,,,,,
2020,117862,4688354,431921.0,156852.77,19647.38,144325.07,1543.31,109553.33,281034,7744,...,11260214,1894289,5831467,63083,7860388,41.844054,7.039363,21.670300,0.234423,29.209969
2021,132238,5995397,1010332.0,394017.93,44230.01,247044.20,4701.70,320339.14,103060,14117,...,27197273,4580003,11130095,226000,23479920,40.828586,6.875507,16.708515,0.339272,35.248090

In [19]:
df_year.columns

Index(['month', 'arriving_flight_count', 'arrival_delayed_15_minutes_more',
       'carrier_delay_count', 'weather_delay_count', 'nas_delay_count',
       'security_delay_count', 'late_aircraft_count',
       'arrival_cancelled_count', 'arrival_diverted_count',
       'arrival_delay_minutes', 'carrier_delay_minutes',
       'weather_delay_minutes', 'nas_delay_minutes', 'security_delay_minutes',
       'late_aircraft_delay_minutes', 'percent_carrier_delay_minutes',
       'percent_weather_delay_minutes', 'percent_nas_delay_minutes',
       'percent_security_delay_minutes',
       'percent_late_aircraft_delay_minutes'],
      dtype='object')

In [24]:
#create subset
df_sub = df_year[['percent_carrier_delay_minutes', 'percent_weather_delay_minutes', 'percent_nas_delay_minutes', 'percent_security_delay_minutes', 'percent_late_aircraft_delay_minutes']]

In [25]:
df_sub.head()

,percent_carrier_delay_minutes,percent_weather_delay_minutes,percent_nas_delay_minutes,percent_security_delay_minutes,percent_late_aircraft_delay_minutes
year,,,,,
2020,41.844054,7.039363,21.670300,0.234423,29.209969
2021,40.828586,6.875507,16.708515,0.339272,35.248090

In [27]:
#reset index
df_sub = df_sub.reset_index()

In [28]:
df_sub.head()

,year,percent_carrier_delay_minutes,percent_weather_delay_minutes,percent_nas_delay_minutes,percent_security_delay_minutes,percent_late_aircraft_delay_minutes
0,2020,41.844054,7.039363,21.670300,0.234423,29.209969
1,2021,40.828586,6.875507,16.708515,0.339272,35.248090

In [30]:
df_sub.shape

(2, 6)

## 3. Merging Data

In [10]:
#import historical data to merge
df_historical = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'delay_cause_by_year.csv'))

In [11]:
df_historical.head(20)

,Unnamed: 0,Air Carrier Delay,Aircraft Arriving Late,National Aviation System Delay,Security Delay,Extreme Weather
0,2003\n(Jun-Dec),26.3,30.9,36.5,0.3,6.1
1,2004,25.8,33.6,33.5,0.3,6.9
2,2005,28.0,34.2,31.4,0.2,6.2
3,2006,27.8,37.0,29.4,0.3,5.6
4,2007,28.5,37.7,27.9,0.2,5.7
5,2008,27.8,36.6,30.2,0.1,5.4
6,2009,28.0,36.2,30.6,0.1,5.0
7,2010,30.4,39.4,25.7,0.2,4.4
8,2011,30.1,40.8,24.8,0.1,4.1
9,2012,31.9,41.4,22.5,0.1,4.0
10,2013,29.4,42.1,24.2,0.1,4.1
11,2014,30.2,41.9,23.5,0.1,4.3
12,2015,32.2,39.8,22.9,0.1,5.0
13,2016,32.6,39.2,23.7,0.1,4.4
14,2017,31.2,39.4,25.1,0.1,4.3
15,2018,30.1,39.6,24.5,0.1,5.6
16,2019,30.6,39.7,24.0,0.1,5.5
17,2020,41.0,30.2,21.6,0.2,6.9

In [15]:
#dropping observations
df2 = df_historical.drop([0,17])

In [16]:
df2.columns

Index(['Unnamed: 0', 'Air Carrier Delay', 'Aircraft Arriving Late',
       'National Aviation System Delay', 'Security Delay', 'Extreme Weather'],
      dtype='object')

In [33]:
#rename columns
df_sub2 = df2.rename(columns ={'Unnamed: 0' : 'year', 'Air Carrier Delay' : 'percent_carrier_delay_minutes', 'Aircraft Arriving Late' : 'percent_late_aircraft_delay_minutes', 'National Aviation System Delay' : 'percent_nas_delay_minutes',
                    'Security Delay' : 'percent_security_delay_minutes', 'Extreme Weather' : 'percent_weather_delay_minutes'})

In [34]:
df_sub2.shape

(16, 6)

In [35]:
#concat data
frames = [df_sub, df_sub2]
df_concat = pd.concat(frames)

In [36]:
df_concat

,year,percent_carrier_delay_minutes,percent_weather_delay_minutes,percent_nas_delay_minutes,percent_security_delay_minutes,percent_late_aircraft_delay_minutes
0,2020,41.844054,7.039363,21.670300,0.234423,29.209969
1,2021,40.828586,6.875507,16.708515,0.339272,35.248090
1,2004,25.800000,6.900000,33.500000,0.300000,33.600000
2,2005,28.000000,6.200000,31.400000,0.200000,34.200000
3,2006,27.800000,5.600000,29.400000,0.300000,37.000000
4,2007,28.500000,5.700000,27.900000,0.200000,37.700000
5,2008,27.800000,5.400000,30.200000,0.100000,36.600000
6,2009,28.000000,5.000000,30.600000,0.100000,36.200000
7,2010,30.400000,4.400000,25.700000,0.200000,39.400000
8,2011,30.100000,4.100000,24.800000,0.100000,40.800000
9,2012,31.900000,4.000000,22.500000,0.100000,41.400000
10,2013,29.400000,4.100000,24.200000,0.100000,42.100000
11,2014,30.200000,4.300000,23.500000,0.100000,41.900000
12,2015,32.200000,5.000000,22.900000,0.100000,39.800000
13,2016,32.600000,4.400000,23.700000,0.100000,39.200000
14,2017,31.200000,4.300000,25.100000,0.100000,39.400000
15,2018,30.100000,5.600000,24.500000,0.100000,39.600000
16,2019,30.600000,5.500000,24.000000,0.100000,39.700000

In [37]:
#xport df
df_concat.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'historical.csv'))